body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  position: relative;
  height: 8rem;
  background-color: white;
}
#headercontainer {
  width: 75%;
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 8rem;
}

#logo,
#logo a {
  float: left;
  margin: auto;
  flex-basis: 50%;
}

#navigation {
  margin: auto;
  flex-basis: 50%;
}

#navigation ul {
  display: flex;
  float: right;
}
#navigation ul li {
  padding: 0 1rem;
  list-style: none;
}

#navigation ul li a:link {
  color: #27a723;
  text-decoration: none;
  font: 1.5rem Arial;
}

#navigation ul li a:visited {
  color: #27a723;
}

#navigation ul li a:hover {
  text-decoration: underline;
}

#divider {
  width: 100%;
  height: 20rem;
  background-image: url("http://zylion.se/tutorial/bilder/pile-1868894_1920.jpg");
  background-position: center;
}

#body {
  width: 100%;
  background-color: lightgray;
  padding: 1rem 0;
}

#buttons-container {
  margin: auto;
  width: 75%;
  height: 10rem;
  display: flex;
  padding: 1rem;
}

.button {
  height: 9rem;
  width: 9rem;
  background-image: radial-gradient(circle, #27a723, #27a723, #1d861a);
  border-radius: 100%;
  margin: auto;
  text-decoration: none;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.35);
}

.button p {
  position: relative;
  text-align: center;
  top: 23%;
  font: 1.5rem arial;
  color: white;
}

.button:hover {
  background-image: radial-gradient(circle, #42c53d, #27a723, #1d861a);
}

#content {
  display: flex;
  width: 75%;
  min-height: 20rem;
  margin: auto;
  background-color: white;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0 12px 0 rgba(0, 0, 0, 0.15);
}

.text {
  float: left;
  width: 50%;
}
.bild {
  float: left;
  width: 50%;
  padding: 5rem 0 0 0;
}

.footer {
  position: relative;
  bottom: 0;
  min-height: 12rem;
  background-color: rgb(26, 26, 26);
  width: 100%;
}

.footer .container {
  display: flex;
  margin: auto;
  width: 75%;
}
.footer .container ul,
a {
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.705);
  padding: 0;
}

.footer .container ul,
a:visited {
  color: white;
}

.footer .container .list1 {
  margin: auto;
  text-align: left;
  line-height: 2rem;
  width: 40%;
}
.footer .container .socials {
  margin: auto;
  text-align: center;
  line-height: 2rem;
}
.footer .container .list2 {
  margin: auto;
  text-align: right;
  line-height: 2rem;
  width: 40%;
}

.footer .container .socials a {
  font-size: 1.5rem;
}

.footer .container .socials a:hover {
  opacity: 1;
}
.footer .container .list1 a:hover {
  opacity: 1;
}
.footer .container .list2 a:hover {
  opacity: 1;
}

.footer .container .list2 {
  float: left;
  text-align: right;
  line-height: 2rem;
}
.footer .copy {
  width: 75%;
  color: white;
  margin: auto;
  font: 10px arial;
  padding-top: 1rem;
}
.copy p {
  margin: 0;
}
.footer .container ul,
a:hover {
  color: white;
}
